
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300;1,400&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Montserrat, 'Times New Roman', Times, serif;
}

nav
{
    padding: 1rem;
}

ul 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

ul li a
{
    padding: .4rem .8rem;
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

figure
{
    position: relative;
}

figure img
{
    width: 100%;
    height: 750px;
}



.site-content 
{
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
}

.site-content-inner
{
    padding: .5rem;
}

.city-name 
{
    text-align: center;
    font-size: 3rem;
    padding: .5rem 1rem;
}

.city-description 
{
    padding: 1.5rem;
    font-size: 2.125em;
    line-height: 1.4;
}

.places 
{
    display: none;
}

.active 
{
    text-decoration: underline;
}

/* .active-place 
{
    display: block;
} */